body {
    margin: 0;
    padding: 0;

    nav {
        display: flex;
        background: #394783;
        align-items: center;
        height: 70px;
        width: 100vw;
        color: white;
        min-width: 960px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            a {
                font-size: 12px;
            }
        }

        > div:not(.engine) {
            cursor: pointer;
        }

        .header-content {
            width: 1080px;
            min-width: 1080px;
        }
        .logo {
            transition: 0.5s;
        }
        .logo:hover {
            transform: rotateY(360deg);
            
        }

        .engine {
            font-size: 10px;

            div {
                margin: 0 10px;
            }

            .search-input {
                background: #1F2B5A;
                padding: 2px 5px;
                border-radius: 3px;

                input {
                    border: none;
                    background: transparent;
                    color: white;
                    outline: none;
                    width: 250px;
                }

                input::placeholder {
                    color: #efefef;
                }
            }

            .smartlist {
                button {
                    background: #5D699A;
                    border: none;
                    border-radius: 3px;
                    color: white;
                    padding: 10px 25px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }
        .profile {
            > img {
                margin: 0 7px;
            }
        }

    }
}