.page {
    width: 100vw;
    min-width: 1080px;
    display: flex;
    justify-content: center;

    .page-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1080px;
    }
}
